/.compose/overseerr/config/*
/.compose/plex/library/*
/.compose/prowlerr/config/*
/.compose/radarr/config/*
/.compose/sonarr/config/*
/.compose/tautulli/config/*
/.compose/qbittorent/config/*
/.compose/homeassistant/config/*
/.compose/heimdall/config/*
/.compose/bazarr/config/*